<nav class="sidebar sidebar-offcanvas" id="sidebar" style="margin-bottom: 10px;">
  <ul class="nav">
    <li class="nav-item nav-profile">
      <div class="nav-link">
        <div class="profile-image">
          <img src="assets/images/faces/face10.jpg" alt="image">
          <span class="online-status online"></span>
          <!--change class online to offline or busy as needed-->
        </div>
        <div class="profile-name">
          <p class="name">
            Marina Michel
          </p>
          <p class="designation">
            Super Admin
          </p>
        </div>
      </div>
    </li>
    <!-- Trang chủ -->
    <li class="nav-item">
      <a class="nav-link" routerLink="/admin/home">
        <i class="icon-rocket menu-icon"></i>
        <span class="menu-title" >Trang chủ</span>
        <!-- <span class="badge badge-success">Quản lí tài khoản</span> -->
      </a>
    </li>
    <!-- Tài khoản -->
    <li class="nav-item">
      <a class="nav-link" routerLink="/admin/taikhoan">
        <i class="icon-user menu-icon"></i>
        <span class="menu-title">Quản lí tài khoản</span>
        <!-- <span class="badge badge-success">Quản lí tài khoản</span> -->
      </a>
    </li>
    <!-- Thêm tài khoản -->
    <li class="nav-item">
      <a class="nav-link" routerLink="/admin/addtk">
        <i class="icon-user-follow menu-icon"></i>
        <span class="menu-title">Thêm tài khoản</span>
        <!-- <span class="badge badge-success">Quản lí tài khoản</span> -->
      </a>
    </li>
    <!-- Phòng ban -->
    <li class="nav-item">
      <a class="nav-link" routerLink="/admin/phongban">
        <i class="icon-briefcase menu-icon"></i>
        <span class="menu-title">Quản lí phòng ban</span>
        <!-- <span class="badge badge-success">Quản lí tài khoản</span> -->
      </a>
    </li>
    <!-- Phòng ban -->
    <li class="nav-item">
      <a class="nav-link" routerLink="/admin/addpb">
        <i class="icon-note menu-icon"></i>
        <span class="menu-title">Thêm phòng ban</span>
        <!-- <span class="badge badge-success">Quản lí tài khoản</span> -->
      </a>
    </li>
    <!-- Đổi mật khẩu -->
    <li class="nav-item">
      <a class="nav-link" routerLink="/login">
        <i class="icon-settings menu-icon"></i>
        <span class="menu-title">Đổi mật khẩu</span>
        <!-- <span class="badge badge-success">Quản lí tài khoản</span> -->
      </a>
    </li>
    <!-- Đăng xuất -->
    <li class="nav-item">
      <a class="nav-link" routerLink="/login">
        <i class="icon-logout menu-icon"></i>
        <span class="menu-title">Đăng xuất</span>
        <!-- <span class="badge badge-success">Quản lí tài khoản</span> -->
      </a>
    </li>
  </ul>
</nav>
