<div class="col-lg-8" style="margin-left: 170px;">
  <div class="card">
    <div class="card-body">
      <div class="wrapper d-block d-sm-flex align-items-center justify-content-between">
        <h4 class="card-title mb-0">Thêm tài khoản</h4>
      </div>
      <div class="wrapper">
        <hr>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade active show" id="info" role="tabpanel" aria-labelledby="info">
            <form action="#">
              <div class="form-group">
                <label for="name">Họ tên</label>
                <input type="text" class="form-control" id="name" >
              </div>
              <div class="form-group">
                <label for="designation">Địa chỉ</label>
                <input type="text" class="form-control" id="designation" >
              </div>
              <div class="form-group">
                <label for="mobile">Số điện thoại</label>
                <input type="text" class="form-control" id="mobile" >
              </div>
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" >
              </div>
              <div class="form-group">
                <label for="email">Tên đăng nhập</label>
                <input type="email" class="form-control" id="email">
              </div>
              <div class="form-group">
                <label for="email">Mật khẩu</label>
                <input type="email" class="form-control" id="email">
              </div>
              <div class="form-group">
                <label for="email">Nhập lại mật khẩu</label>
                <input type="email" class="form-control" id="email">
              </div>
              <div class="form-group mt-5">
                <button type="submit" class="btn btn-success mr-2" routerLink="/admin/taikhoan">Đăng ký</button>
                <button class="btn btn-outline-danger" routerLink="/admin/home">Huỷ</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
