<div class="container-scroller">
  <div class="container-fluid page-body-wrapper">
    <div class="row">
      <div class="content-wrapper full-page-wrapper d-flex align-items-center auth login-full-bg">
        <div class="row w-100">
          <div class="col-lg-4 mx-auto">
            <div class="auth-form-dark text-left p-5">
              <h2>Đăng nhập</h2>
              <h4 class="font-weight-light">Nỗ lực mỗi ngày!</h4>
              <form class="pt-5">
                <div class="form-group">
                  <label for="exampleInputEmail1">Tên đăng nhập</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" placeholder="">
                  <i class="mdi mdi-account"></i>
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Mật khẩu</label>
                  <input type="password" class="form-control" id="exampleInputPassword1" placeholder="">
                  <i class="mdi mdi-eye"></i>
                </div>
                <div class="form-group">
                  <label for="inputState">Chức vụ</label>
                  <select id="inputState" class="form-control" >
                    <option selected style="color: #000"> ---Chọn chức vụ--- </option>
                    <option style="color: #000">Nhân viên</option>
                    <option style="color: #000">Quản lí</option>
                    <option style="color: #000">Admin</option>
                  </select>
                </div>
                <div class="mt-5">
                  <a class="btn btn-block btn-warning btn-lg font-weight-medium" href="..\..\index.html">Login</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
    </div>
    <!-- row ends -->
  </div>
  <!-- page-body-wrapper ends -->
</div>
