<div class="card">
    <app-slide-image></app-slide-image>
    <div class="card-deck" style="margin-top:20px">
      <div class="card">
        <img class="card-img-top" src="assets/images/image-slide/image-slide.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="">TP.Hồ Chí Minh</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.
            This content is a little bit longer.</p>
        </div>
      </div>
      <div class="card" >
        <img style="height: 180px" class="card-img-top" src="assets/images/image-slide/image-slide2.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="">Đà Nẵng</h5>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
      <div class="card">
        <img style="height: 180px" class="card-img-top" src="assets/images/image-slide/image-slide3.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="">Hạ Long</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
            This card has even longer content than the first to show that equal height action.</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4 col-lg-12 grid-margin stretch-card">
      <div class="card bg-info">
        <div class="text-white py-3 px-4">
          <h6 class="card-title text-white mb-0">Page View</h6>
          <p>3669.25</p>
          <div class="chart-container"><iframe class="chartjs-hidden-iframe" tabindex="-1"
              style="display: block; overflow: hidden; border: 0px; margin: 0px; top: 0px; left: 0px; bottom: 0px; right: 0px; height: 100%; width: 100%; position: absolute; pointer-events: none; z-index: -1;"></iframe>
            <canvas class="w-100 h-100" id="dashboard-lineChart-2" height="62" width="502"
              style="display: block; height: 100px; width: 402px;"></canvas>
          </div>
          <small class="text-white">View Details</small>
        </div>
      </div>
    </div>
</div>

<!-- Footer -->
<footer class="page-footer font-small unique-color-dark pt-4">

  <!-- Footer Elements -->
  <div class="container">

    <!-- Call to action -->
    <ul class="list-unstyled list-inline text-center py-2">
      <li class="list-inline-item">
        <h5 class="mb-1">Register for free</h5>
      </li>
      <li class="list-inline-item">
        <a href="#!" class="btn btn-outline-white btn-rounded">Sign up!</a>
      </li>
    </ul>
    <!-- Call to action -->

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
