<nav class="sidebar sidebar-offcanvas" id="sidebar" style="margin-bottom: 10px;">
  <ul class="nav">
    <li class="nav-item nav-profile">
      <div class="nav-link">
        <div class="profile-image">
          <img src="assets/images/faces/face10.jpg" alt="image">
          <span class="online-status online"></span>
          <!--change class online to offline or busy as needed-->
        </div>
        <div class="profile-name">
          <p class="name">
            Marina Michel
          </p>
          <p class="designation">
            Quản lí
          </p>
        </div>
      </div>
    </li>
    <!-- Trang chủ -->
    <li class="nav-item">
      <a class="nav-link" routerLink="/quanli/home">
        <i class="icon-rocket menu-icon"></i>
        <span class="menu-title">Trang chủ</span>
        <!-- <span class="badge badge-success">Quản lí tài khoản</span> -->
      </a>
    </li>
    <!-- Chấm công -->
    <li class="nav-item">
      <a class="nav-link" routerLink="/quanli/chamcong">
        <i class="icon-notebook menu-icon"></i>
        <span class="menu-title">Chấm công</span>
        <!-- <span class="badge badge-success">Quản lí tài khoản</span> -->
      </a>
    </li>
    <!-- Tài khoản -->
    <li class="nav-item">
      <a class="nav-link" routerLink="/quanli/nhanvien">
        <i class="icon-user menu-icon"></i>
        <span class="menu-title">Quản lí nhân viên</span>
        <!-- <span class="badge badge-success">Quản lí tài khoản</span> -->
      </a>
    </li>
    <!-- Phòng ban -->
    <li class="nav-item">
      <a class="nav-link" routerLink="/quanli/phongban">
        <i class="icon-briefcase menu-icon"></i>
        <span class="menu-title">Quản lí phòng ban</span>
        <!-- <span class="badge badge-success">Quản lí tài khoản</span> -->
      </a>
    </li>
    <!-- Lương -->
    <li class="nav-item">
      <a class="nav-link" routerLink="/quanli/luong">
        <i class=" icon-wallet menu-icon"></i>
        <span class="menu-title">Quản lí lương</span>
        <!-- <span class="badge badge-success">Quản lí tài khoản</span> -->
      </a>
    </li>
    <!-- Thông tin tài khoản -->
    <li class="nav-item">
      <a class="nav-link" routerLink="/quanli/info">
        <i class="icon-info menu-icon"></i>
        <span class="menu-title">Thông tin tài khoản</span>
        <!-- <span class="badge badge-success">Quản lí tài khoản</span> -->
      </a>
    </li>
    <!-- Đăng xuất -->
    <li class="nav-item">
      <a class="nav-link" routerLink="/login">
        <i class="icon-logout menu-icon"></i>
        <span class="menu-title">Đăng xuất</span>
        <!-- <span class="badge badge-success">Quản lí tài khoản</span> -->
      </a>
    </li>
  </ul>
</nav>
