<div class="card">
  <div class="card-body">
    <h4 class="card-title">Chi tiết bảng lương</h4>
    <div class="row">
      <div class="col-12">
        <div class="table-responsive">
          <div id="order-listing_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
            <div class="row">
              <div class="col-sm-12">
                <table id="order-listing" class="table dataTable no-footer" role="grid"
                  aria-describedby="order-listing_info">
                  <thead>
                    <tr role="row">
                      <th class="sorting_asc" tabindex="0" aria-controls="order-listing" rowspan="1" colspan="1"
                        aria-sort="ascending" aria-label="Order #: activate to sort column descending"
                        style="width: 67px;">Cơ cấu lương
                      </th>
                      <th class="sorting" tabindex="0" aria-controls="order-listing" rowspan="1" colspan="1"
                        aria-label="Purchased On: activate to sort column ascending" style="width: 117.4px;">
                        Số tiền</th>

                    </tr>
                  </thead>
                  <tbody>
                    <tr role="row" class="odd">
                      <td>Ngày lương</td>
                      <td>300.000</td>
                    </tr>
                    <tr role="row" class="even">
                      <td>Công thực</td>
                      <td>22</td>
                    </tr>
                    <tr role="row" class="odd">
                      <td>Bảo hiểm</td>
                      <td>140.000</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 col-md-7">
                <div class="dataTables_paginate paging_simple_numbers" id="order-listing_paginate">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
